<section id="05_html_css_punto" class="exercise-section">
    <h2>05 HTML CSS Punto</h2>
    <p>Visiter la page <a href="/WebDev101/miniprojet/">Mini Projet - Punto</a> pour découvrir le jeu:)</p>
  </section>