<section id="06_css_flexbox" class="exercise-section">
    <h2>06 CSS Flexbox</h2>
  
    <p>Voici les 4 exercices réalisés à partir de la documentation MDN sur Flexbox :</p>
  
    <ul>
      <li><a href="https://developer.mozilla.org/fr/docs/Learn/CSS/CSS_layout/Flexbox_skills#disposition_flexible_1" target="_blank">Disposition flexible 1</a></li>
      <li><a href="https://developer.mozilla.org/fr/docs/Learn/CSS/CSS_layout/Flexbox_skills#disposition_flexible_2" target="_blank">Disposition flexible 2</a></li>
      <li><a href="https://developer.mozilla.org/fr/docs/Learn/CSS/CSS_layout/Flexbox_skills#disposition_flexible_3" target="_blank">Disposition flexible 3</a></li>
      <li><a href="https://developer.mozilla.org/fr/docs/Learn/CSS/CSS_layout/Flexbox_skills#disposition_flexible_4" target="_blank">Disposition flexible 4</a></li>
    </ul>
  
    <p>Je les ai réalisé les fonctionalités par moi-même. Vous pouvez également les ouvrir dans un nouvel onglet pour regarder les résultats:</p>
    <ul>
      <li><a href="/WebDev101/exercices/06_CSS_flexbox/1.html" target="_blank">Exercice 1</a></li>
      <li><a href="/WebDev101/exercices/06_CSS_flexbox/2.html" target="_blank">Exercice 2</a></li>
      <li><a href="/WebDev101/exercices/06_CSS_flexbox/3.html" target="_blank">Exercice 3</a></li>
      <li><a href="/WebDev101/exercices/06_CSS_flexbox/4.html" target="_blank">Exercice 4</a></li>
    </ul>
  </section>
  