---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "Exercices - WebDev101";
---

<BaseLayout title={pageTitle}>
  <h1>Exercices - WebDev101</h1>
  <p>exxxxxxxererrrrrrrrccccccc</p>
  <!-- 可继续添加内容 -->
</BaseLayout>