---
// 头部 Frontmatter：可导入组件或数据
import Layout from '../layouts/Layout.astro';
const pageTitle = "WebDev101 - demo";
---

<Layout title={pageTitle}>
  <main>
    <h1>WebDev101</h1>
    <p>Site internet de démonstration pour le cours WebDev101 du Télécom Paris, 2025, crée par Zhiying Zou</p>
    <!-- 插入图片 -->
    <img src="/image.png" alt="演示图片" width="600" />
  </main>
</Layout>