---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "Mini Projet - PUNTO";
---

<BaseLayout title={pageTitle}>
  <h1>Mini Projet - PUNTO</h1>
  <p>PUUUUUUUNNNNNNNTTTTTTTO</p>
  <!-- 可继续添加内容 -->
</BaseLayout>