---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "Projet final";
---

<BaseLayout title={pageTitle}>
  <h1>Projet final</h1>
  <p>???????????????</p>
  <!-- 可继续添加内容 -->
</BaseLayout>